:root {
  --white: #ffffff;
  --black: #000000;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --white: color(display-p3 1.0001 1 0.9999);
    --black: color(display-p3 0 0 0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin;
  text-rendering: geometricprecision;
}
